body {
    height: 100vh;
    font-size: 1.5rem;
}

/* NumberedTextarea-related styling */

.numberedTextarea {
    display: flex;
    font-family: monospace;
    line-height: 1.25em;
    border: 1px solid black;
    width: 80%;
    height: 100%;

}

.numberedTextarea > textarea , .numberedTextarea > div {
    font-size: inherit;
    line-height: inherit;
    min-height: 100%;
    padding: 0;
    margin: 0;
}

.numberedTextarea > div > p {
    padding: 0;
    margin: 0;
}

.numberedTextarea > textarea, .numberedTextarea > textarea {
    border: none;
    border-left: black solid 1px;
    resize: none;
    flex: 1; /* Fill up remaining width of its container. */
}

.numberedTextarea > div {
    width: 3em;
    margin-right: 0.75em;
    text-align: right;
    box-sizing: border-box;
    border: none;
}